# Perry build outputs
dist/
*.o
*.a

# Generated type stubs (regenerate with `perry types`)
.perry/types/
.perry-cache/

# Node modules
node_modules/

# IDE
.vscode/
.idea/
.marscode/

target/

*.wav
!extensions/perry-vosk/crate-linux/tests/voice.wav
test-*
chatroom
model/
